*,
*::before,
*::after {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-wrap: wrap;
}

.card-item {
  max-width: 25%;
}

@media (max-width: 768px) {
  .card-item {
    max-width: 50%;
  }
  .container {
    max-width: 696px;
  }
}
@media (max-width: 576px) {
  .card-item {
    max-width: 100%;
  }
  .container {
    max-width: 348px;
  }
}
