h1 {
  color: #232a31;
  font-size: 2em;
  line-height: 1.35;
  font-stretch: normal;
  font-style: normal;
  font-weight: 700;
  letter-spacing: normal;
}

#Jok {
  width: 480px;
}

.box1:hover {
  color: pink;
  transition: 1s;
}

.box2:hover {
  color: blueviolet;
}

.box3 {
  width: 100px;
  border: 1rem;
  padding: 1rem;
}

.box3:active {
  outline-color: transparent;
  outline-style: solid;
  box-shadow: 0 0 0 4px #5a01a7;
  transition: 0.7s;
}
