/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Hi，gameking780204：

我是六角學院助教 JasonLu :



作業練習得很棒喔 !

有善用 CSS 來優化網頁樣式 ~



以下提供你一些修改建議：

文字水平居中建議改成使用 CSS 屬性 text-align: center; ，不建議使用 HTML 屬性 align="center"。HTML align 屬性是 HTML4 支援的語法，目前 HTML5 已不支援。在頁面可以正常置中是因為 Chrome 瀏覽器有偵測到語法，會轉換並套用樣式，但為了避免在其他瀏覽器 ( 如 firefox 、safari ... 等 ) 沒有正確套用，還是建議使用 CSS 屬性 text-align: center;。
可以多嘗試使用類別選擇器與後代選擇器，例如 header 標籤選擇器可以改成 .headerSection ； p 標籤選擇器可以改成 .mainSection p




學習沒有問題的話，可以繼續往後面的章節進行囉！

如果還有不懂的地方也歡迎隨時發問，我們都會在線上等你～ */

body {
  width: 850px;
  margin-left: auto;
  margin-right: auto;
}

.headerSection {
  border: solid 1px black;
  padding: 30px;
}

.mainSection {
  border: solid 3px red;
}

.mainSection p {
  /* text-align: center; */

  margin: 20px;
}

#hexSchoolLogo {
  width: 180px;
}

.buttonDownload {
  font-size: 16px;
  margin-left: 20px;
  margin-bottom: 160px;
  background-color: blue;
  color: white;
  border: 0;
  padding-left: 10px;
  padding-right: 10px;
}

.footerSection {
  padding: 20px;
  width: 810px;
  background-color: pink;
}

.footerSection p {
  text-align: center;
  margin: 20px;
}
/* HTML align 屬性是 HTML4 支援的語法，目前 HTML5 已不支援。 */
